---
title: NBA Jamstack
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
</head>

<body>
    <h1>{{title}}</h1>
    {{content | safe}}
    <footer><a href="https://github.com/briankoser/nbajamstack">Github</a>
</body>
</html>